ActionBar {
    background-color: #6266DF;
    color: white;
}

#lblActionBar {
    color: white;
}

#gridAll {
    background-color: #DBDBDB;
}

#stackSearch {
    background-color: white;
    border-radius: 10;
    margin-left: 20;
    margin-right: 20;
    margin-top: 20;
}

#lblFrom {
    font-size: 12pt;
    margin-left: 5;
    vertical-align: center;
}

#lblTo {
    font-size: 12pt;
    margin-left: 5;
    vertical-align: center;
}

.imgCalendar {
    width: 40;
    height: 40;
    border-radius: 50%;
    margin: 10;
    padding: 5;
    background-color: #6266DF;
}

#lvActivity {
    background-color: #DBDBDB;
}

#gridListview {
    background-color: white;
    border-radius: 10;
    margin-top: 15;
    margin-left: 20;
    margin-right: 20;
}

.labelColor {
    width: 20;
    height: 20;
    border-radius: 10;
    margin-top: 10;
    margin-left: 20;
    horizontal-align: left;
}

.labelDate {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 0.1pt;
    margin-top: 5;
    margin-left: 20;
    color: black;
}

.labelTitle {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    letter-spacing: 0.1pt;
    margin-left: 20;
    margin-bottom: 10;
    color: black;
}

#stackImage {
    background-color: #6266DF;
    border-top-right-radius: 10;
    border-bottom-right-radius: 10;
}

#imgEdit {
    width: 60;
    height: 60;
    /* horizontal-align: center; */
    /* vertical-align: center; */
}