ActionBar {
    color: white;
    background-color: #6266DF;
}

#lblActionBar {
    font-family: "Moon Bold", "Moon";
    font-weight: bold;
    color: white;
    font-size: 20pt;
}

Page {
    background-color: #DBDBDB;
}

#lblHeader {
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 18pt;
    text-align: center;
    color: black;
}

#gridListview {
    background-color: white;
    border-radius: 10;
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
    padding: 10;
}

#labelBadge {
    width: 20;
    height: 20;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 12pt;
    border-radius: 50%;
}

.labelDate {
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 12pt;
    margin-top: 5;
    /* margin-bottom: 5; */
    margin-left: 15;
    margin-right: 10;
    color: black;
}

.labelTitle {
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 16pt;
    font-weight: bold;
    /* margin-bottom: 5; */
    margin-left: 15;
    margin-right: 5;
    color: black;
}