GridLayout {
    margin: 10;
}

.labelColor {
    width: 20;
    height: 20;
    border-radius: 10;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 20;
    horizontal-align: left;
}

.labelTitle {
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 14pt;
    margin-top: 3;
    margin-left: 20;
    color: black;
}

Button[text='close'] {
    margin-top: 20;
}