ActionBar {
    background-color: #5A64D0;
    color: white;
}

#lblActionBar {
    color: white;
}

Page {
    background-color: #E6E6E6;
    background-image: url("~/image/bg-fade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lvContact {
    margin-top: 20;
}

#stackList {
    background-color: white;    
    border-radius: 10;
    margin-top: 10;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 10;
}

#lblTitle {
    color: black;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 0.08pt;
    margin: 10;
    text-align: center;
}

Image {
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
    height: 140;
}