ActionBar {
    background-color: #5A64D0;
    color: white;
}

#lblActionBar {
    color: white;
}

Page {
    background-color: #E6E6E6;
}

#gridListview {
    background-color: white;
    border-radius: 10;
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
}

StackLayout {
    background-color: #6266DF;
    border-top-right-radius: 10;
    border-bottom-right-radius: 10;
}

#imgView {
    margin-top: 40;
    width: 30;
    vertical-align: center;
}

#lblTitle {
    color: black;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-weight: bold;
    letter-spacing: 0.1pt;
    font-size: 16pt;
    margin-left: 20;
    margin-top: 15;
}

#lblSubtitle {
    color: black;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    letter-spacing: 0.08pt;
    font-size: 14pt;
    margin-left: 20;
    margin-top: 10;
    margin-bottom: 15;
}