Page {
    background-image: url("~/image/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

Image {
    width: 150;
    stretch: aspectFit;
    horizontal-align: center;
    margin-top: 50;
}

#lblTitle {
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 24pt;
    color: white;
    text-align: center;
    margin-top: 20;
    margin-bottom: 30;
    letter-spacing: 0.2pt;
}

TextField {
    width: 70%;
    margin-top: 5;
    margin-bottom: 10;
    horizontal-align: center;
    border-bottom-width: 1;
    border-color:white;
    font-family: "Comfortaa-Regular", "Comfortaa";
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    color: white;
    placeholder-color: white;
}

Button[text='LOGIN']{
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 20pt;
    letter-spacing: 0.1pt;
    width: 70%;
    background-color: white;
    border-radius: 30;
    horizontal-align: center;
    margin-top: 40;
    padding: 10;
}