ActionBar {
    background-color: white;
    color: #5A64D0;
}

Page {
    background-image: url("~/image/bg-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lvNews {
    height: 50%;    /* of screen height */
}

#stackCarousel {
    /* border-radius: 30; */
    margin-left: 10;
    margin-right: 10;
    margin-top: 30;
    margin-bottom: 20;
    height: 100%; /* of listview , for iOS */
}

#stackHeadline {
    height: 20%;  /* of listview , for iOS */
    width: 300;   
    padding-top: 5;
    background-color: white;
    border-bottom-left-radius: 15;
    border-bottom-right-radius: 15;
}

#imgCarousel {
    border-top-left-radius: 15;
    border-top-right-radius: 15;
    width: 300; /* must equal width of stackHeadline */
    height: 65%; /* of listview , for iOS */
}

#gridMenu {
    margin-top: 10;
}

.stackMenuLeft {
    border-radius: 10;
    margin-left: 10;
    margin-bottom: 10;
    padding: 10;
    background-color: white;
}

.stackMenuCenter {
    border-radius: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
    padding: 10;
    background-color: white;
}

.stackMenuRight {
    border-radius: 10;
    margin-right: 10;
    margin-bottom: 10;
    padding: 10;
    background-color: white;
}

#lblNewsTitle {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    margin-left: 15;
    letter-spacing: 0.1pt;
    color: black;
}

#lblNewsSubtitle {
    font-size: 12pt;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    text-align: left;
    margin-left: 15;
    margin-bottom: 5;
    letter-spacing: 0.1pt;
    color: black;
}

.lblMenu {
    font-size: 10pt;
    text-align: center;
    color: black;
    font-family: "Comfortaa-Regular", "Comfortaa";
    letter-spacing: 0.1pt;
    margin-top: 2;
    font-weight: bold;
}

.imageMenu {
    horizontal-align: center;
    width: 30;
    height: 30;
    stretch: aspectFit;
    /* margin: 10; */
    margin-bottom: 8;
    margin-top: 15;
}

Label[text='MFU'] {
    font-family: "Comfortaa-Regular", "Comfortaa";
    margin: 0;
    color: black;
}

#lblTalent {
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 7pt;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 0.08pt;
    color: black;
}