ActionBar {
    background-color: white;
    color: #5A64D0;
}

Page {
    background-image: url("~/image/bg-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lvNews {
    margin-top: 30;
}

#stackList {
    background-color: white;    
    border-radius: 10;
    margin-top: 10;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 10;
}

#lblTitle {
    color: black;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-weight: bold;
    font-size: 14pt;
    margin-left: 15;
    margin-top: 5;
    letter-spacing: 0.1pt;
}

#lblSubtitle {
    color: black;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 12pt;
    margin-left: 15;
    /* margin-top: 5; */
    margin-bottom: 5;
    letter-spacing: 0.1pt;
}

Image {
    height: 140;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}