ActionBar {
    background-color: #6266DF;
    color: white;
}

#lblActionBar {
    color: white;
}

Page {
    background-image: url("~/image/bg-fade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* #stackQR {
    margin-top: 40;
    background-color: white;
    border-radius: 60%;
    padding-left: 25;
    padding-right: 25;
    padding-top: 15;
    padding-bottom: 10;
    horizontal-align: center;
} */

#gridMyCode {
    height: 180;
}

#lblMyCode {
    vertical-align: top;
    height: 90;
    background-color: #6266DF;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

Image {
    horizontal-align: center;
    height: 180;
    /* margin-top: 10; */
}

#lblName {
    margin-left: 40;
    font-size: 30pt;
    font-family: "Comfortaa-Regular", "Comfortaa";
    /* font-family: "Moon Bold", "Moon"; */
    font-weight: bold;
    background-color: transparent;
    color: #6266DF;
}

.lblText {
    padding: 10;
    font-size: 14pt;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    letter-spacing: 0.1pt;    
    color: black;
    horizontal-align: left;
    margin-left: 50;
    margin-bottom: 10;
    background-color: white;
    border-radius: 30;
}

Button[text='LOGOUT']{
    margin-bottom: 20;
    padding: 10;
    horizontal-align: center;
    vertical-align: bottom;
    font-size: 18pt;
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-weight: bold;
    letter-spacing: 0.1pt;
    color: #EB4949;
    background-color: white;
    border-radius: 30;
    width: 60%;
}