ActionBar {
    background-color: #6266DF;
    color: white;
}

#lblActionBar {
    color: white;
}

Page {
    background-color: #DBDBDB;
}

Image {
    horizontal-align: center;
    vertical-align: center;
    margin-top: 80;
    width: 70%
}

#lblUsername {    
    font-size: 20pt;
    horizontal-align: center;
    margin-top: 20;
    font-family: "Comfortaa-Regular", "Comfortaa";
    letter-spacing: 0.1pt;
}

StackLayout {
    background-color: white;
    margin: 30;
    height: 80%;
}