ActionBar {
    color: white;
    background-color: #5A64D0;
}

#lblActionBar {
    color: white;
}

Page {
    background-color: #DBDBDB;
    background-image: url("~/image/bg-fade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#stackHead {
    padding: 10;
    background-color: white;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}

#lblActivityName {
    /* font-family: "Comfortaa-Bold", "Comfortaa"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20;
}

#lblActivityDate {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    color: black;
    text-align: center;  
    margin-bottom: 10;  
}

#stackQuestion {
    background-color: #5A64D0;
    padding: 10;
    height: 140;
}

#stackQuestion Label {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    color: white;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#lpChoice {
    color: white;
    /* cannot change font family and size of listpicker */
    /* font-size: 12pt;
    font-family: "SukhumvitSet-Text", "Sukhumvit Set"; */
    /* width: 200; */
    height: 90;
}

#tvSuggest {
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 16pt;
    background-color: white;
    color:#5A64D0;
    placeholder-color: #5A64D0;
    height: 120;
    padding-left: 10;
    margin-bottom: 10;
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
}

Button[text='SEND']{
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 0.1pt;
    background-color: white;
    color: #007AFF;
    horizontal-align: center;
    border-radius: 30;
    padding-left: 50;
    padding-right: 50;
    padding-top: 10;
    padding-bottom: 10;
    margin-top: 20;
}