ActionBar{
    background-color: white;
    color: #6266DF;
}

Image {
    width: 100%;
    height: 50%;
    horizontal-align: center;
    /* border-radius: 20; */
}

#lblTeamNumber {
    padding: 20;
    color: white;
    background-color: #77000000;
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 0.1pt;
    vertical-align: bottom;
    text-align: left;
}

#lblTeamTitle {
    font-family: "Comfortaa-Regular", "Comfortaa";
    color: #6266DF;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    margin-top: 20;
}

#lblPerformance{
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 20pt;
    letter-spacing: 0.1pt;
    text-align: center;
    margin-top: 20;
}

Button[text='VOTE!'] {
    margin-top: 20;
    color: white;
    background-color: #EB4949;
    border-radius: 30;
    horizontal-align: center;
    vertical-align: bottom;
    width: 60%;
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 0.2pt;
    padding: 10;
    margin-bottom: 20;
}