ActionBar {
    background-color: white;
    color: #6266DF;
}

Page {
    background-color: #6266DF;
    background-image: url("~/image/background-talent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lvCandidate {
    margin: 20;
}

#lblTeam {
    color: white;
    background-color: #77000000;
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 18;
    /* font-weight: bold; */
    vertical-align: bottom;
    /* text-align: left; */
    padding-left: 15;
    padding-top: 5;
    padding-bottom: 5;
    margin: 10;
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20;
}

Image {
    margin: 10;
    height: 150;
    width: 150;
    border-radius: 20;
}