ActionBar {
    background-color: white;
    color: #6266DF;
}

Page {
    background-image: url("~/image/background-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

GridLayout {
    padding: 15;
}

Image {
    border-radius: 65%;
    background-color: white;
    margin: 5;
    horizontal-align: center;
    width: 100;
    height: 100;
}

TextField {
    border-radius: 10;
    background-color: white;
    margin: 5;
    padding: 10;
    placeholder-color: #6266DF;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
}

#lblName, #lblID {
    border-radius: 10;
    color: white;
    background-color:#6266DF;
    margin: 5;
    padding: 10;
    /* font-family: "THSarabunNew", "TH Sarabun New"; */
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    font-weight: bold;
    vertical-align: center;
}

.btnRegister {
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 14pt;
    font-weight: bold;
    /* margin-top: 15; */
    background-color: white;
    color: #007AFF;
    border-radius: 20;
    horizontal-align: center;
    vertical-align: bottom;
    width: 40%;
    padding: 10;
}