ActionBar {
    background-color: #6266DF;
    color: white;
}

#lblActionBar {
    color: white;
}

Page {
    background-color: #E6E6E6;
    background-image: url("~/image/background-talent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lblTitle {
    font-family: "Comfortaa-Regular", "Comfortaa";
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.1pt;
    color: black;
    text-align: center;
    margin-top: 10;
    margin-bottom: 20;
}

Image {
    horizontal-align: center;
    margin-top: 20;
    height: 30;
}

StackLayout {
    margin-top: 40;
    margin-left: 20;
    margin-right: 20;
    padding: 20;
    border-radius: 10;
    background-color: white;
}