ActionBar {
    color: #6266DF;
    background-color: white;
}

#lblActionBar {
    color: #6266DF;
    font-family: "Moon Light", "Moon";
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    /* letter-spacing: 0.1pt; */
    margin: 0;
}

Page {
    background-color: #E6E6E6;
}

#gridAll {
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
}

#gridListview {
    padding: 10;
    margin-bottom: 10;
    background-color: white;
    border-radius: 10; 
}

TextField {
    color: #6266DF;
    background-color: white;
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
    placeholder-color: #6266DF;
    margin: 5;
    border-radius: 5;
    padding: 5;
}

.lblMember {
    color: #6266DF;
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
}

ListView {
    margin-top: 5;
    background-color: transparent;
}

Button[text=ADD] {
    background-color: #007AFF;
    color: white;
    border-radius: 20;
    horizontal-align: center;
    width: 40%;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 10;
}

Button[text=CONFIRM]{
    background-color: #6266DF;
    color: white;
    border-radius: 20;
    horizontal-align: center;
    width: 40%;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 5;
}

.lblComment {
    font-family: "SukhumvitSet-Text", "Sukhumvit Set";
    font-size: 14pt;
}